h1 {
    text-align: center;
    font-family: 'Bakbak One', cursive;
}


#all-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#the-name {
    font-family: 'Permanent Marker', cursive;
    font-size: larger;
}

.card-header {
    background-color: rgb(8, 120, 81) !important;
    font-family: 'Bakbak One', cursive;
    font-size: larger;
    color: white;
}

header {
    background: #A49282;
background: -moz-linear-gradient(top, #5a795b 0%, #FDFEFF 100%);
background: -webkit-linear-gradient(top, #5a795b 0%, #FDFEFF 100%);
background: linear-gradient(to bottom, #5a795b 0%, #FDFEFF 100%);
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    }